<a href="https://colab.research.google.com/github/GuiiLuiss/Horse-Colic-Dataset/blob/master/Guilherme_Luis_Rodrigues_Anselmo_da_Silva.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Enem, o vestibular das várias estratégias criadas para dar conta do volume de conteúdos a serem memorizados - Data Science Project**

Será que o ano de conclusão do ensino médio afetou diretamente na nota final?
O atendimento especializado funciona? Iremos responder essas e outras perguntas utilizando uma amostra de dados reais

Quando os estudantes fizeram pela primeira vez o Exame Nacional do Ensino Médio (Enem) no ano de 1998, é quase certeza que eles não imaginavam a proporção que este exame ganhou atualmente. Inicialmente com o objetivo de avaliar o desempenho dos estudantes ao final da educação básica, hoje é utilizado para desenvolver estudos e indicadores sobre a educação brasileira, além de ser uma porta de entrada para o ensino superior.

In [5]:
from IPython.display import Image
Image(url='https://media.giphy.com/media/dvJ8bj4sQqLIZEpBg4/giphy.gif')

**Sobre os dados**

Esse estudo estará utilizando dados coletados e tratados pela equipe da Alura, na qual disponibilizou o dataset [neste link](https://github.com/alura-cursos/imersao-dados-2-2020/blob/master/MICRODADOS_ENEM_2019_SAMPLE_43278.csv?raw=true). Com base nas informações dispostas nesse dataset, realizarei insights acerca dos inscritos e das circunstâncias que envolveram a prova. Importante ressaltar que tal conjunto de dados é apenas uma amostra das informações de todos os inscritos, contendo somente 127380.

**Perguntas a serem respondidas:**

Dentre alguns dos questionamentos que podem ser gerados com estes dados, tenho interesse em saber a resposta para as seguintes perguntas:

- Qual a relação do ano de conclusão com o desempenho nas provas? Será que os estudantes que terminaram recentemente o ensino médio levam vantagem sobre os outros inscritos?
- Qual foi a proporção de homens e mulheres que participaram da prova? E qual seus desempenhos?
- Quem solicitou o atendimento especializado teve o mesmo aproveitamento de quem não solicitou?
- Será que a nota final de quem tem uma renda maior foi superior aos demais?
- Existe alguma relação da variável idade com a prova de inglês/espanhol?

In [8]:
#Importando a amostra de dados Enem 2019

import pandas as pd #Biblioteca para criação de DataFrames

fonte = "https://github.com/alura-cursos/imersao-dados-2-2020/blob/master/MICRODADOS_ENEM_2019_SAMPLE_43278.csv?raw=true"
dados = pd.read_csv(fonte) #leitura do arquivo csv contendo as informações dos inscritos

In [9]:
#Importando numpy e bibliotecas de visualização 

import numpy as np #algebra
import seaborn as sns #gráficos
import matplotlib.pyplot as plt #plotagem
%matplotlib inline

In [10]:
print("Este dataset possui %s linhas e %s colunas" %(dados.shape[0], dados.shape[1]))

Este dataset possui 127380 linhas e 136 colunas

In [12]:
#Visualizando quantidade de valores nulos nas colunas 

dados.isnull().sum().sort_values(ascending=False)

CO_UF_ESC                 98753
NO_MUNICIPIO_ESC          98753
TP_SIT_FUNC_ESC           98753
TP_LOCALIZACAO_ESC        98753
TP_DEPENDENCIA_ADM_ESC    98753
                          ...
IN_NOME_SOCIAL                0
CO_MUNICIPIO_PROVA            0
NO_MUNICIPIO_PROVA            0
CO_UF_PROVA                   0
NU_INSCRICAO                  0
Length: 136, dtype: int64

In [11]:
dados.head()

   NU_INSCRICAO  NU_ANO  CO_MUNICIPIO_RESIDENCIA  ... Q023  Q024 Q025
0  190001004661    2019                  1506138  ...    A     B    B
1  190001004674    2019                  1504208  ...    A     A    B
2  190001004722    2019                  1501402  ...    A     A    B
3  190001004735    2019                  1507300  ...    A     A    B
4  190001004776    2019                  1500800  ...    A     A    B

[5 rows x 136 columns]

Acima temos as primeiras linhas do nosso dataset. A princípio as informações podem parecer nebulosas, então, vamos esclarecer alguns pontos sobre isso começando pelas colunas que não usaremos, como por exemplo a “NU_INSCRICAO”, “CO_ESCOLA” e “TX_RESPOSTAS_MT”, que contém informações sobre o número da inscrição do estudante, o código da escola e o vetor com as respostas da parte objetiva da prova de matemática, respectivamente. Acredito que informações deste tipo não são relevantes ao estudo que faremos e sua permanência poderia causar perda de foco, sem contar a quantidade considerável de valores nulos.

Para deixar as informações mais claras a qualquer leitor, irei renomear alguns dados.

In [13]:
dados['TP_ESTADO_CIVIL'] = dados['TP_ESTADO_CIVIL'].replace([0,1,2,3,4],['Não informado','Solteiro(a)','Casado(a)','Divorciado(a)','Viúvo(a)'])
dados['TP_ANO_CONCLUIU'] = dados['TP_ANO_CONCLUIU'].replace([1,2,3,4,5,6,7,8,9,10,11,12,13],['2018','2017','2016','2015','2014','2013','2012','2011','2010','2009','2008','2007','2006'])

**Dicionário de Dados:**

Dados devidamente renomeados para um melhor entendimento, é hora de comentar o que cada um desses significa:

**TP_ESTADO_CIVIL** - Estado civil do inscrito.

**TP_ANO_CONCLUIU** - Ano de conclusão do ensino médio. Temos valores de 2007 a 2018. (O ano de 2006 irá servir para todos os inscritos que informaram que se formou antes de 2007)

Você já deve ter percebido que temos o código da residência do inscrito e também a sigla UF. Importante ressaltar que neste estudo utilizaremos a sigla.

Continuando nossa tratativa dos dados, irei criar uma coluna com a média de todas as prova para melhor entendimento, assim conseguimos ter um compilado do desempenho de cada participante.

In [15]:
provas = ["NU_NOTA_CN","NU_NOTA_CH","NU_NOTA_MT","NU_NOTA_LC","NU_NOTA_REDACAO"]

dados["NU_NOTA_FINAL"] = dados[provas].mean(axis=1)
dados.head()

   NU_INSCRICAO  NU_ANO  CO_MUNICIPIO_RESIDENCIA  ... Q024  Q025 NU_NOTA_FINAL
0  190001004661    2019                  1506138  ...    B     B    457.780000
1  190001004674    2019                  1504208  ...    A     B    394.866667
2  190001004722    2019                  1501402  ...    A     B    470.100000
3  190001004735    2019                  1507300  ...    A     B    511.140000
4  190001004776    2019                  1500800  ...    A     B    560.700000

[5 rows x 137 columns]

In [16]:
dados[provas].describe()

         NU_NOTA_CN    NU_NOTA_CH    NU_NOTA_MT    NU_NOTA_LC  NU_NOTA_REDACAO
count  92758.000000  98043.000000  92758.000000  98043.000000     98043.000000
mean     477.964015    507.365912    523.555206    520.463928       571.570025
std       76.296099     82.972839    109.416939     64.556578       188.076455
min        0.000000      0.000000      0.000000      0.000000         0.000000
25%      418.000000    447.900000    435.300000    483.700000       480.000000
50%      470.200000    510.900000    501.600000    526.100000       580.000000
75%      533.300000    567.100000    598.200000    565.100000       680.000000
max      797.300000    809.400000    985.000000    801.700000      1000.000000

A função describe permite saber rapidamente um resumo estatístico do DataFrame, como média, desvio padrão, nº máximo, nº mínimo, moda, media, quartis etc.